@model OpenData.WebUI.Models.CartIndexViewModel

@{
ViewBag.Title = "Sports Store: Your Cart";
}
<h2>Your cart</h2>
<table width="90%" align="center">
<thead><tr>
    <th align="center">Quantity</th>
    <th align="left">Item</th>
    <th align="right">Price</th>
    <th align="right">Subtotal</th>
    <th></th>
</tr></thead>

<tbody>
@foreach(var line in Model.Cart.Lines) {
<tr>
    <td align="center">@line.Quantity</td>
    <td align="left">@line.OpenDataSet.Name</td>
    <td align="right">@line.OpenDataSet.INN</td>
    <td align="right">@line.OpenDataSet.Description </td>
    <td> @using (Html.BeginForm("RemoveCart","Cart")) {
            @Html.Hidden("ODID",line.OpenDataSet.ODID)
            @Html.HiddenFor(x=>x.ReturnUrl)
            <input class="actionButtons" type="submit" value="Remove" />
    }
    </td>
</tr>
}
</tbody>
<tfoot><tr>
    <td colspan="3" align="right">Total:</td>
    <td align="right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
</tr></tfoot>
</table>

<p align="center" class="actionButtons">
    <a href="@Model.ReturnUrl">Continue shopping</a>
    @Html.ActionLink("Checkout now", "Checkout")
</p>
