@model IEnumerable<OpenData.Admin.Models.DataSetListModel>

@{
    ViewBag.Title = "Index";
  
}


    <table class="Grid">
        <tr>
            <th>Идентификатор</th>
            <th>Наименование</th>
            <th>ОИГВ</th>
            <th>Описание</th>
            <th>Редактировать</th>
            <th>Удалить</th>
            <th>Загрузить набор</th>
        </tr>
        @foreach (var item in Model) {
        <tr>
            <td>@item.ODID</td>
            <td>@item.Name</td>
            @*<td>@Html.DisplayFor(x=>item.User.Authority.Name)</td>*@
            <td>@item.Authority</td>
            <td>@item.Description</td>
            @*<td> @using (Html.BeginForm("Delete", "Admin")) {@Html.Hidden("ODID", item.ODID) <input type="submit" value="Удалить"/> } </td>*@
            <td>@Html.ActionLink("Редактировать атрибуты", "EditDataSet", new { item.ODID })</td>
            <td>@Html.ActionLink("Удалить", "Delete", new { item.ODID })</td>
            <td>@Html.ActionLink("Загрузить набор", "LoadSet", new { item.ODID })</td>
        </tr>
        }
    </table>
<p>@Html.ActionLink("Добавить новый набор данных", "Create")</p>