@model  OpenData.Admin.Models.EditUserModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        @using (Html.BeginForm("EditUserProfile","Admin", FormMethod.Post) )
        {
            <fieldset>
                <legend>Параметры авторизации</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Login)
                </div>

                <div> 
                    @Html.EditorFor(model=>model.Login, new {style = "display:none"})
                </div>
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.NewPassword)
                </div>
                
                <div class="editor-field">
                    @Html.EditorFor(model => model.NewPassword)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ConfirmPassword)
                </div>
            </fieldset>
                
             <fieldset>
                 <legend>Профиль</legend>   
                 <div class="editor-label">
                    @Html.LabelFor(model => model.FNS)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FNS)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Duty)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Duty)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Phone)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Phone)
                </div>
                
                 <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                </div>

                

                

       
            </fieldset>
            <input type="submit" value="Save" />
            @Html.ActionLink("Отменить и вернуться в список", "Return")
        }